* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: none;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.Account {
  float: right;
  background-image: url(/img/profile.jpg);
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  margin-right: 20px;
}

a {
  color: black;
  vertical-align: middle;
  text-decoration: none;
  float: right;
  margin-right: 15px;
  margin-top: 9px;
  font-size: 12px;
  font-family: arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

.logo {
  background-image: url(/img/Google-logo.png);
  background-size: cover;
  width: 250px;
  height: 114px;
  size: 0cm;
  position: initial;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 90px;
}

.searchTable {
  width: 40%;
  border-radius: 50px;
  outline: none;
  border: 1px solid #d0cece;
  margin: auto;
  position: relative;
  display: block;
}

.search {
  max-width: 203%;
  height: 30px;
  vertical-align: middle;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 51px;
  width: 454px;
  padding: 10px;
}

img {
  vertical-align: middle;
    margin-left: 10px;
}

.micIcon {
  float: right;
  right: 0px;
  margin-right: initial;
  position: absolute;
  margin-top: -11px;
  margin-right: 10px;
}

@keyframes pulsate {
    0% {
      -webkit-transform: scale(1, 1);
      opacity: 2;
    }
    100% {
      -webkit-transform: scale(1.3, 1.3);
    }
  }